@media (min-width: 1900px) {
  .home-page {
    max-width: 1850px;
  }
}

.home-page {
  margin: auto;
  /*max-width: 1400px;*/
  width:100%;
  min-height: 1500px;
  padding-left: 2rem;
  padding-right: 2rem;
}



