.main-nav-bar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 66px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 1.15rem;
  z-index: 30;
}

.active_nav {
  background: #232a34;
}


.main-nav-bar > *:not(:last-child) {
  margin-right: 2.15rem;
}

.main-nav-bar__logo {
  display: block;
  font-size: 19px;
  line-height: 1;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
}

.main-nav-bar__logo:hover {
  color: lightgrey;;
}

.main-nav-bar__logo__img {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.main-nav-bar__logo__img svg {
  border-radius: 8px;
  height: 40px;
  width: 40px;
}

.main-nav-bar__logo__text {
  margin-left: 1rem;
}

.main-nav-bar__search-bar {
  max-width: 750px;
  width: 100%;
}

.search-bar {
  position: relative;
  z-index: 1;
}

.search-bar__container {
  background: rgba(255, 255, 255, .95);
  display: -webkit-box;
  display: flex;
  border: none;
  border-radius: 6px;
  z-index: 1;
}

.active_search {
  display: flex;
}

.none {
  display: none
}


.search-bar__container input {
  display: block;
  font-size: 17px;
  line-height: 22px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-flex: 1;
  flex: 1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: transparent;
  border: none;
  color: #1a1a1a;
  padding: .9rem 1.25rem;
  width: 0;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
}

.search-bar__container button {
  border: none;
  background: 0 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 849px) {
  .main-nav-bar > *:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 1000px) {
  .main-nav-bar .hide-when-mid-size-and-smaller {
    display: none !important;
  }
}

@media (max-width: 849px) {
  .search-bar__container input {
    padding-top: .625rem;
    padding-bottom: .625rem;
    font-weight: 500;
  }

  .collection-button {
    display: inherit !important;
  }


}

.main-nav-bar__sub-nav__item {
  display: block;
  /* font-size: 17px; */
  line-height: 1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  color: var(--color-foreground, #fff);
  text-decoration: none;
  background: 0 0;
  padding: 0;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  -webkit-transition: .1s opacity ease;
  transition: .1s opacity ease;
  white-space: nowrap;
}

.collection-button {
  --color-background: #232a34;
  --color-foreground: #fff;
  --color-button-background: #05a081;
  --color-button-foreground: #fff;
  --color-search-bar-background: rgba(255, 255, 255, 0.95);
  --color-search-bar-background-focus: #fff;
  --color-search-bar-placeholder: #5e5e5e;
}

.collection-button-container, .language-button-container, .menu-button-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  background: #05a081;
  padding: 1rem 1rem;
  border-radius: 4px;
}

.language-button-container,.menu-button-container {
  margin-left: auto;
}


@media (max-width: 425px) {
  .language-button-container,.collection-button-container {
    display: none;
  }
  .menu-button-container{
    display: flex !important;
  }

  .collection-button-container,.menu-button-container {
    margin: 0 !important;
  }
  .dropdown-content{
    right:10px;
  }
}


.language-button-container a,.menu-button-container a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.language-button-container:hover,.menu-button-container:hover {
  cursor: pointer;
}

.language-button-container a:hover,.menu-button-container a:hover {
  background-color: #05a081;
  opacity: 0.7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}
